/* Nejprve importujte font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Poté použijte Tailwind direktivy */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Outfit';
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;

  color-scheme: light;
  color: #0D1218;
  background-color: #FCFCFD;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #FCFCFD;
  --color-secondary: #D9E0EA; /* Renamed from secondary-color to match tailwind usage */
  --color-text-primary: #0D1218;
  --color-text-secondary: #19283A;
  --color-link: #2563EB;
  --color-error: #DC2626;
  --color-success: #16A34A;
}

@layer base {
  body {
    font-size: 1rem;
    font-weight: 500;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  p, span, li, td, th, label, input, select, textarea, button {
    font-weight: 500;
  }

  small {
    font-size: 0.875rem;
    font-weight: 500;
  }
}